.card1 {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: 25em;
    padding-top: 0.1em;
    padding-left: 0.7em;
    border: 0.5px solid #E0DFDC;
    background-color: #fff;
}

.title {
    color: #191919;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title img {
    width: 12px;
    height: 12px;
    margin-right: 4%;
}

.title img:hover {
    cursor: pointer;
}

.user {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.info h5 {
    margin: 1px 0 5px 10px;
}


.info span {
    color: #666666;
    font-weight: 100;

}

.image img {
    border-radius: 60%;
    width: 50px;

}

.button {
    color: #666666;
    text-decoration: none;
    border: 1px solid #666666;
    border-radius: 15px;
    padding-top: 3%;
    font-size: 1.1em;
    min-width: 6.5vw;
    height: 3.5vh;
    text-align: center;
}

.button:hover {
    background-color: #EBEBEB;
    border: 3px solid #666666;
}

.recommendations {
    color: #666666;
    display: flex;
    flex-direction: row;

}

.recommendations:hover {
    background-color: #EBEBEB;
}

.recommendations a {

    text-decoration: none;
    color: #666666;
}

.recommendations img {
    width: 16px;
    margin-left: 5px;
}

.ad img {
    width: 24vw;
    height: 40.5vh;
    position: relative;
    right: 2%;
}

.card2 {
    background-color: #fff;
    width: 20em;
    margin-top: 8px;
    border-radius: 15px;
    height: 41vh;
    border: 0.5px solid #EBEBEB;
    display: flex;
    justify-content: center;
}

.ad img {
    width: 96%;
    margin: 0 2% 0 4%;
}

.options {
    width: 20em;
    margin-top: 2%;
    text-align: center;

}

.options a {
    text-decoration: none;
    color: #666666;
    display: inline-block;
    font-size: 0.75em;
    padding-right: 10px;
    font-weight: 400;
}

.others {
    padding: 2% 13%;
}

.options img {
    width: 60px;
}

.options p {
    font-size: 0.9em;
    font-weight: 500;
    color: #666666;
}

.options a:hover {
    text-decoration: underline;
    color: #0A66C2;
}